<div class="confirmation">
  <h1>Acquisto effettuato correttamente!</h1>
  <p>Il tuo codice PNR è: <strong><%= @pnr %></strong></p>
  <div class="actions">
    <%= link_to "Torna alla Homepage", root_path, class: "btn btn-secondary" %>
    <%= link_to "Vai all'Area Personale", user_profile_path, class: "btn btn-primary" %>
  </div>
</div>
