<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Accedi</title>
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
	<!-- Barra superiore-->
	<header class="topnav">
		<nav>
			<%= link_to "EasyRail", root_path, class: "titolo" %>
			<div class="log dropdown">
				<button class="dropbtn">Accedi</button>
				<div class="dropdown-content">
					<%= link_to "Login", login_path, class: "center" %>
					<%#= link_to "Registrati", register_path, class: "center" %>
				</div>
			</div>
			<%= link_to "Home", root_path, class: "active center" %>
			<a class="center" href="TrainStatus.html">Stato treno</a>
		</nav>
	</header>
	<main>
			<!-- Form con inserimento credenziali-->
		<form action="login.php" method="post" style="margin-top: 60px auto 60px auto;min-width: 30%;">
			<div class="formhead">Accedi con le tue credenziali</div>
			<table style="margin-left: auto;margin-right: auto;">
				<tr>
					<p>
					<td><label for="email">Email </label></td>
					<td><input type="email" name="InputEmail" id="email" required></td>
					</p>
				</tr>
				<tr>
					<p>
					<td><label for="pw">Password </label></td>
					<td><input type="password" name="InputPassword" id="pw" required></td>
					</p>
				</tr>
			</table>
			<p>
				<div style="text-align: center;">
				<input class="button" type="submit" value="Accedi" id="cerca">
				</div>
			<p>
		</form>
	</main>
	<!--Parte inferiore-->
	<footer class="bottom">
		<table>
			<tr>
				<td>
					<p>EasyRail &copy;</p>
					<p>Un progetto per Lab. ASSI (Laboratorio di Architetture Software e Sicurezza Informatica) - A.A. 2024/25</p>
					<p>Proff. Leonardo Querzoni e Daniele Cono D'Elia</p>
				</td>
			<tr>	
				<td>Capitale Sociale 0&euro;.<p>Tutti i diritti riservati.</p></td>
				<td colspan="">Sede legale Università La Sapienza -	Edificio Marco Polo, Viale Scalo San Lorenzo, 82, Roma</td>
			</tr>
		</table>
	</footer>
</body>
</html>
