<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EasyRail</title>
	<link rel="stylesheet" href="app/assets/stylesheets/application.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<!--script src="funzioni.js"></script-->
	<style>
		input {
			margin: 0;
			width: 240px;
		}
	</style>
</head>
<body>
	<main style="background: url(@images[1]) no-repeat; background-size: cover; background-position: center;">
		<!--Barra superiore-->
		<header class="topnav">
			<nav>
				<a class="titolo" href="HomePage.html">EasyRail</a>
				<div class="log dropdown">
					<button class="dropbtn">Accedi</button>
					<div class="dropdown-content">
						<a href="Login.html">Login</a>
						<a href="Register.html">Registrati</a>
					</div>
				</div>
				<a class="active center" href="HomePage.html">Home</a>
				<a class="center" href="TrainStatus.html">Stato treno</a>
			</nav>
		</header>

	<!--Carousel di messaggi promozionali/codici sconto-->
	<div class="carousel-container">
		<div class="carousel my-carousel carousel--translate">
			<input class="carousel__activator" type="radio" name="carousel" id="1" checked="checked"/>
			<input class="carousel__activator" type="radio" name="carousel" id="2"/>
			<input class="carousel__activator" type="radio" name="carousel" id="3"/>

			<div class="carousel__controls">
				<label class="carousel__control carousel__control--forward" for="2"></label>
				<label class="carousel__control carousel__control--backward" for="3"></label>
			</div>
			<div class="carousel__controls">
				<label class="carousel__control carousel__control--backward" for="1"></label>
				<label class="carousel__control carousel__control--forward" for="3"></label>
			</div>
			<div class="carousel__controls">
				<label class="carousel__control carousel__control--backward" for="2"></label>
				<label class="carousel__control carousel__control--forward" for="1"></label>
			</div>
			<div class="carousel__track">
				<li class="carousel__slide" style="text-align: center;">
					<p>Viaggia in serenità e risparmia con EasyRail!</p>
					<p>Solo per questa settimana, 20% di sconto sulla tariffa Economy, con codice sconto
						<span style="background-color: white; font-weight: bold; padding: 2px 6px 2px 6px; border-radius: 6px;">LABASSI25</span>
					</p>
				</li>
				<li class="carousel__slide" style="text-align: left; padding: 30px 0px 0px 50px; background-color: white;">
					<table style="background-color: yellow; border-radius: 10px;">						
						<tr>
							<td style="font-size: 80px; padding: 0px 0px 10px 30px;">&#x26A0;</td>
							<td style="font-size: 25px; padding: 0px 40px 10px 0px;">ATTENZIONE</td>
						</tr>
					</table>
					<p style="margin: 3% 10% 3% 1%;">Si informano i viaggiatori che per lavori di potenziamento infrastrutturale 
						<span style="text-decoration: underline 1px;">la tratta Milano-Torino sarà chiusa al traffico ferroviario</span>
						per tutta la giornata di sabato 1 marzo 2025. 
						<span style="text-decoration: underline 1px;">Tutti i treni che coinvolgono tale tratta sono pertanto cancellati.</span>
					</p>
					<p style="margin: 3% 10% 3% 1%;">
						Si informa inoltre che al momento è possibile prenotare viaggi fino al 30/06/2025, poiché le date successive sono ancora da assegnare.
					</p>
				</li>
				<li class="carousel__slide" style="text-align: right;">
					<div style="margin-right: 40px; min-width: 100px;">
						<h1>Con EasyRail</h1>
						<p>Scopri le principali città italiane a<br>prezzi imbattibili!</p>
						<p>Le nostre destinazioni sono:<br>Roma, Milano, Venezia, Napoli,<br>Firenze, Bologna e Torino.</p>
						<p>Ogni giorno, offriamo ai nostri<br>passeggeri decine di collegamenti<br>con l'efficienza del nostro servizio.</p>
					</div>
				</li>
			</div>
			<div class="carousel__indicators">
				<label class="carousel__indicator" for="1"></label>
				<label class="carousel__indicator" for="2"></label>
				<label class="carousel__indicator" for="3"></label>
			</div>
		</div>
	</div>
	
	<!--Form Cerca viaggio-->	
	<div style="text-align: center;">
		<form action="" onsubmit="return (validaStz() && validaPass());" autocomplete="off" name="form" id="form" style="min-width: 666px; max-width: 666px; margin-bottom: 90px;">
			<div class="formhead">Cerca viaggio</div> 
			<p>
				<label for="part">Da</label>
				<input list="stazioni" name="part" id="part" maxlength="27" placeholder=" inserisci stazione di partenza">
				<button onclick="swap()" class="swap" type="button">&rlarr;</button>
				<label for="arr">A</label>
				<input list="stazioni" name="arr" id="arr" maxlength="27" placeholder=" inserisci stazione di arrivo">

				<datalist id="stazioni">
					<option value="Bologna Centrale"></option>
					<option value="Firenze Santa Maria Novella"></option>
					<option value="Milano Centrale"></option>
					<option value="Napoli Centrale"></option>
					<option value="Roma Termini"></option>
					<option value="Torino Porta Nuova"></option>
					<option value="Venezia Santa Lucia"></option>
				</datalist>
			</p>
			<p>
				<table><tr>
					<td style="padding: 0px 10px 0px 7px;">Andata e ritorno</td>
					<td><input onclick="ritornoOnOff()" class="checkbox" type="checkbox" id="onOff" name="onOff">
					<label for="onOff" class="toggle"></label></td>
				</tr></table>
			</p>
			<p>
				<label for="dataAnd">Andata</label>
				<input oninput="vincoliDate()" type="date" name="dataAnd" id="dataAnd" max="2024-07-31" style="width: 160px;">
				<label for="dataRit" id="lr" style="margin-left: 24px; opacity: 0.5;">Ritorno</label>
				<input oninput="vincoliDate()" type="date" name="dataRit" id="dataRit" max="2024-07-31" disabled style="width: 160px; opacity: 0.5;">
			</p>
			<label for="pass">Passeggeri (massimo: 10)</label>
			<div class="dropdown" style="padding: 5px; border: solid 1px gray; border-radius: 5px; background-color: rgb(224, 224, 224);">
				<button class="dropbtn" type="button" name="pass" id="pass" style="background-color: rgb(224, 224, 224);">Visualizza</button>
				<div class="dropdown-content2" style="padding: 12px; border-radius: 10px;">
					<table>
						<tr>
							<td><label for="adt">Seleziona</label></td>
							<td>
								<button type="button" onclick="subAdt()" class="addSubPass">-</button>
								<input type="number" name="adt" id="adt" readonly value="0" style="width: 50px; border: hidden; background-color: rgb(224, 224, 224); text-align: center;">
								<button type="button" onclick="addAdt()" class="addSubPass">+</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<p>
				<label for="cs">Codice sconto (opzionale) </label>
				<input class="cs" type="text" name="cs" id="cs" style="width: 160px;">
			</p>
			<p>
				<div style="text-align: center;">
				<input class="button" type="submit" value="Cerca" id="cerca">
				<input class="button" type="reset" value="Cancella" id="cancella">
				</div>
			<p>
		</form>
	</div>
	</main>

	<!--Parte inferiore-->
	<footer class="bottom">
		<table>
			<tr>
				<td>
					<p>EasyRail &copy;</p>
					<p>Un progetto per Lab. ASSI (Laboratorio di Architetture Software e Sicurezza Informatica) - A.A. 2024/25</p>
					<p>Proff. Leonardo Querzoni e Daniele Cono D'Elia</p>
				</td>
			<tr>	
				<td>Capitale Sociale 0&euro;.<p>Tutti i diritti riservati.</p></td>
				<td colspan="">Sede legale Università La Sapienza -	Edificio Marco Polo, Viale Scalo San Lorenzo, 82, Roma</td>
			</tr>
		</table>
	</footer>
</body>
</html>