<title>Database Utenti</title>

<% hide_footer! %>

<h1 style="text-align: center;">Elenco Utenti</h1>

<table class="table" style="margin: auto; width: 80%; text-align: center; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="border: 1px solid #ddd; padding: 8px;">Cognome</th>
      <th style="border: 1px solid #ddd; padding: 8px;">Nome</th>
      <th style="border: 1px solid #ddd; padding: 8px;">Email</th>
      <th style="border: 1px solid #ddd; padding: 8px;">Provider</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="border: 1px solid #ddd; padding: 8px;"><%= user.surname %></td>
        <td style="border: 1px solid #ddd; padding: 8px;"><%= user.name %></td>
        <td style="border: 1px solid #ddd; padding: 8px;"><%= user.email %></td>
        <td style="border: 1px solid #ddd; padding: 8px;"><%= user.provider %></td>
      </tr>
    <% end %>
  </tbody>
</table>
